# --- Database Configuration ---
POSTGRES_DB=ai_agent
POSTGRES_USER=deepyes02
POSTGRES_PASSWORD=yeti
POSTGRESQL_URL="postgresql://deepyes02:yeti@localhost:5432/ai_agent"


##add project and enable tracin in langsmith, then fill below information
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=""
LANGSMITH_PROJECT=""

# --- Exchange Rates URLs ---
## private api do not use ##
# --- Model Inference Configuration ---
##OPEN AI 
MODEL="deepseek-chat"
OPENAI_BASE_URL="https://api.deepseek.com/v1"
DEEPSEEK_API_KEY=""
MAX_TOKENS="16384"
